@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rowdies:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(93,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

h1 {
    font-family: 'Rowdies', sans-serif;
    color: coral;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

ul {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 0, 0);
    justify-content: center;
    list-style: none;
    position: relative;
}

.list__item{
    margin: 5px;
    background-color: rgb(255, 208, 0);
    border-color: rgb(255, 123, 0);
    border: 10px;
    border-width: 400px;
    border-radius: 5px;
    height: 25px;
}

.wrapper{
    width: 400px;
    margin: 0 auto;
    justify-content: center;
}

.input__text {
    background-color: rgb(255, 255, 255);
    border-radius: 27px;
    width: 400px;
    height: 40px;
}

.delete__btn{
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-right: 20px;
    margin-top: 2px;
    right: 0;
}

.btn {
    background-color: rgb(2, 255, 213);
    border-radius: 27px;
    height: 40px;
}